body {
background:url(zadnik.png) no-repeat;
background-size:cover;
}

h1{

font-style:oblique;
font-size: 400% ;
color: yellow;
}

h2
{
	font-size:300%;	
	color: red;
	text-align: center;

}

.h3
{color: #ffffff;
font-size:200%;	
	
}
.fig 
{
	text-align: center;
}
